*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
font-family: 'Rubik Moonrocks', cursive;
font-family: 'Source Serif Pro', serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


:root {
    --primary-color2: #61FF00;
    --primary-color1: #0079F0;
    --secondary-color1 : #00D099;
    --secondary-color2: #00B4C6;
  } 

  /* <!--........................... Navbar starts here .............................--> */

nav{
    background-color: var(--primary-color1);
    display: flex;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
}

#logo{
    font-family: 'Rubik Moonrocks' ;
    font-size: 2rem;
  
    color: rgb(0, 0, 0);
    padding: 25px;
    
}

#menu{
    display: block;
}

#menu ul{
    display: flex;
    list-style: none;
    margin: 15px;
    justify-content: end;
}
#menu ul li{
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    transition: .5s;
}
#menu ul li:hover{
    background-color:aqua;
    transform: rotate(-5deg);

   
}

.active{
    background-color:aqua;
    padding: 7px;
    border-radius: 10px;
}

#menu ul li a{
   color: rgb(0, 0, 0);
  text-decoration: none;
 text-transform: uppercase;
}


nav::after{
    content: '';
    display: table;
    clear: both;
}
.icon{
    display: none;
}



 /* <!--........................... Navbar starts here .............................--> */




 #my-photo{
    width: 100%;
 }